/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700');*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700');

:root{
	font-family:'Fira Sans',sans-serif;
	font-family: 'Dosis', sans-serif !important;
	--color-light-blue:#1565c0;
	--color-dark-blue:#003c8f;
	--color-adk-red:#aa2505;
	--color-light-2-red: #f01900;
	--color-light-red: #ff3d00;
	--color-purple:#793862;
	--color-black:#333;
	--color-white:#f2f2f2;
	--color-light-gray: #eee;
	--max-width: 1000px;
	color: var(--color-black);
	background-color: var(--color-white);
	font-size: 1.3rem;
}

body {
	margin: 0px;
	overflow: auto;
	min-height: 1vh;
	align-items: stretch;
	background: #Eee;
	background-image: url(../images/adk.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 56% -16%;
}

html {
	scroll-behavior: smooth;
	overscroll-behavior: contain;
}

header {
	overflow: auto;
}

.head {
	position: fixed;
	top: 0px;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--color-light-red);
	border-bottom: 7px solid var(--color-adk-red);
	padding: 4px 0px 4px 30px;
	/*color: var(--color-white);*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: space-between;*/
	/*align-items: baseline;*/
	box-shadow: 0px 0px 20px -1px black;
	font-size: 0.8rem;
}

h1, h2, h3 {
	margin: 0px;
}

.column {
	width: 100%;
	max-width: var(--max-width);
	margin: 0px auto 0px auto;
	/* border: 1px solid var(--color-light-red); */
	border-radius: 3px;
	/* box-shadow: 0px 0px 20px -2px black; */
	padding: 0px 10px 0px 10px;
	box-sizing: border-box;
	/* background: var(--color-white); */
}

.column-home {
	margin-top: 57px;
	padding-bottom: 30px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: calc(100% - 108px);
	box-sizing: border-box;
}

.column-footer {
	padding-bottom: 3px;
}

.align-center {
	margin: auto;
}

.homepage-h2 {
	text-align: center;
	font-size: 2.9rem;
	color: var(--color-light-red);
	border-bottom: 5px solid var(--color-light-red);
	box-shadow: 0px 3px 15px -1px black;
	background: rgba(255,255,255,0.7);
	border-radius: 3px;
	padding: 0px 3px 3px 3px;
}

.category-link {
	text-decoration: none;
	width: 100%;
	display: block;
	font-size: 2rem;
	color: #fff;
	font-weight: 400;
	background-color: var(--color-light-red);
	margin: 20px 0px 0px 0px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 0px 30px 4px 30px;
	box-shadow: 0px 3px 15px -1px black;
	transition: box-shadow 0.2s ease-in-out, background 0.1s ease-in-out;
	border-bottom: 4px solid var(--color-adk-red);
}

.category-link:hover {
	/*box-shadow: 0px 1px 5px 0px black;*/
	background: var(--color-adk-red);
}

.footer {
	background: var(--color-light-red);
	margin: 0px;
	height: 45px;
	font-size: 0.8rem;
	display: flex;
	align-items: flex-end;
	border-top: 6px solid var(--color-adk-red);
	box-shadow: 0px 0px 20px -1px black;
}

.footer-col-1 {
	width: 30%;
	display: inline-block;
}

.footer-col-2 {
	width: 70%;
	display: inline-block;
}

@media screen and (max-width: 800px) {
    .head {
    	position: relative;
    	/* padding: 3px 0px 0px 30px; */
    }

    .homepage-h2 {
    	/*display: none;*/
    }

    :root {
    	font-size: 15px;
    }

    .column-home {
    	margin-top: 50px;
    }

    .footer-col-1 {
    	width: 100%;
    }

    .footer-col-2 {
    	width: 100%;
    }

    .column-home {
    	min-height: calc(100% - 97px);
    	margin-top: 0px;
    }
}

