@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700');

:root{
	font-family:'Fira Sans',sans-serif;
	--color-light-blue:#1565c0;
	--color-dark-blue:#003c8f;
	--color-adk-red:#aa2505;
	--color-light-red:#ff3d00;
	--color-purple:#793862;
	--color-black:#333;
	--color-white:#f2f2f2;
	--color-light-gray: #eee;
	--max-width: 1000px;
	color: var(--color-black);
	background-color: var(--color-white);
	font-size: 1.3rem;
}

body {
	margin: 0px;
	overflow: auto;
	min-height: 100%;
	align-items: stretch;
	background: #Eee;
}

html {
	scroll-behavior: smooth;
	overscroll-behavior: contain;
}

header {
	overflow: auto;
}

.head {
	position: fixed;
	top: 0px;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--color-light-red);
	border-bottom: 7px solid var(--color-adk-red);
	padding: 7px 320px 0px 320px
	/*color: var(--color-white);*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: space-between;*/
	/*align-items: baseline;*/;
	box-shadow: 0px 0px 20px -1px black;
}

h1, h2, h3 {
	margin: 0px;
}

.column {
	width: 100%;
	max-width: var(--max-width);
	margin: 0px auto 0px auto;
	/* border: 1px solid var(--color-light-red); */
	border-radius: 3px;
	/* box-shadow: 0px 0px 20px -2px black; */
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
	/* background: var(--color-white); */
}

.column-home {
	margin: 120px auto 20px auto;
	min-height: calc(100% - 185px);
}

.column-footer {
	padding-bottom: 3px;
}

.align-center {
	margin: auto;
}

.homepage-h2 {
	text-align: center;
	font-size: 2.9rem;
	color: var(--color-light-red);
	margin-bottom: 50px;
	/* background: #fff; */
	border-bottom: 3px solid var(--color-light-red);
	/* box-shadow: 0px 3px 15px -1px black; */
}

.category-link {
	text-decoration: none;
	width: 100%;
	display: block;
	font-size: 2rem;
	color: #fff;
	font-weight: 400;
	background-color: var(--color-light-red);
	margin: 0px 0px 20px 0px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 4px 30px 4px 30px;
	box-shadow: 0px 3px 15px -1px black;
	transition: box-shadow 0.2s ease-in-out;
}

.category-link:hover {
	box-shadow: 0px 1px 5px 0px black;
}

.footer {
	background: var(--color-light-red);
	margin: 0px;
	height: 45px;
	font-size: 0.8rem;
	display: flex;
	align-items: flex-end;
}

.footer-col-1 {
	width: 30%;
	display: inline-block;
}

.footer-col-2 {
	width: 70%;
	display: inline-block;
}

@media screen and (max-width: 800px) {
    .head {
    	position: relative;
    	padding: 3px 0px 0px 30px;
    }

    :root {
    	font-size: 15px;
    }

    .column-home {
    	margin-top: 0px;
    }

    .footer-col-1 {
    	width: 100%;
    }

    .footer-col-2 {
    	width: 100%;
    }

    .column-home {
    	min-height: calc(100% - 111px);
    }
}
