/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700');*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');

:root{
	/*font-family:'Fira Sans',sans-serif;*/
	font-family: 'Dosis', sans-serif !important;
	--color-light-blue:#1565c0;
	--color-dark-blue:#003c8f;
	--color-adk-red:#aa2505;
	--color-light-2-red: #f01900;
	--color-light-red: #ff3d00;
	--color-purple:#793862;
	--color-black:#333;
	--color-white:#f2f2f2;
	--color-light-gray: #ddd;
	--color-transparent-white: rgba(255,255,255,0.7);
	--color-transparent-yellow: rgba(255,255,30, 0.3);
	--max-width: 1000px;
	--box-shadow-shifted-down: 0px 3px 15px -1px black;
	--box-shadow:  0px 0px 20px -1px black;
	--size-plus-button: 3.8rem;
	--size-plus-button-lines: 0.4rem;
	--size-plus-button-width: 60%;
	color: var(--color-black);
	background-color: var(--color-white);
	font-size: 21px;
}

*::-moz-selection { /* Code for Firefox */
    color: var(--color-white);
    background: var(--color-light-red);
}

*::selection {
    color: var(--color-white); 
    background: var(--color-light-red);
}

body {
	margin: 0px;
	overflow: auto;
	min-height: 1vh;
	align-items: stretch;
	background: #Eee;
	background-image: url(../images/adk.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 56% -16%;
}

header {
	overflow: auto;
}

.head {
	position: fixed;
	top: 0px;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--color-light-red);
	border-bottom: 7px solid var(--color-adk-red);
	padding: 4px 0px 4px 30px;
	/*color: var(--color-white);*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: space-between;*/
	/*align-items: baseline;*/
	box-shadow: var(--box-shadow);
	font-size: 0.8rem;
}

header a {
	color: var(--color-black);
	text-decoration: none;
}

h1, h2, h3 {
	margin: 0px;
}

.column {
	width: 100%;
	max-width: var(--max-width);
	margin: 0px auto 0px auto;
	/* border: 1px solid var(--color-light-red); */
	border-radius: 3px;
	/* box-shadow: 0px 0px 20px -2px black; */
	padding: 0px 10px 0px 10px;
	box-sizing: border-box;
	/* background: var(--color-white); */
}

.column-home {
	margin-top: 57px;
	padding-bottom: 30px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: calc(100% - 108px);
	box-sizing: border-box;
}

.column-footer {
	padding-bottom: 3px;
}

.align-center {
	margin: auto;
}

.homepage-h2 {
	text-align: center;
	font-size: 2.9rem;
	color: var(--color-white);
	border-bottom: 5px solid var(--color-adk-red);
	box-shadow: var(--box-shadow-shifted-down);
	background: var(--color-light-red);
	border-radius: 3px;
	padding: 0px 3px 3px 3px;
}

.category-link {
	text-decoration: none;
	width: 100%;
	display: block;
	font-size: 2rem;
	color: var(--color-light-red);
	font-weight: 400;
	background-color: var(--color-transparent-white);
	margin: 20px 0px 0px 0px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 0px 30px 4px 30px;
	box-shadow: var(--box-shadow-shifted-down);
	transition: box-shadow 0.2s ease-in-out, background 0.1s ease-in-out;
	border-bottom: 4px solid var(--color-adk-red);
}

.category-link:hover {
	/*box-shadow: 0px 1px 5px 0px black;*/
	background: var(--color-light-gray);
}

.footer {
	background: var(--color-light-red);
	margin: 0px;
	height: 45px;
	font-size: 0.8rem;
	display: flex;
	align-items: flex-end;
	border-top: 6px solid var(--color-adk-red);
	box-shadow: var(--box-shadow);
}

.footer-col-1 {
	width: 30%;
	display: inline-block;
}

.footer-col-2 {
	width: 70%;
	display: inline-block;
}

.backplate {
	background: var(--color-transparent-white);
	padding: 15px;
	border-radius: 3px;
}

.post-container {
	border-left: 7px solid var(--color-adk-red);
	background: var(--color-white);
	box-shadow: var(--box-shadow);
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 20px;
	transition: all 0.2s ease-in-out;
	border-radius: 3px;
}

.expand {
	/*animation: details 2s linear;
	overflow: hidden;*/
}

/*.post-container *::-moz-selection {background: transparent;}*/
/*.post-container *::selection {background: transparent;}*/

.post-container:last-child {
	margin-bottom: 0px;
}

.post-container:hover {
	background: var(--color-light-gray);
}

.post-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.time-box {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.from {
	margin-right: 10px;
	font-size: 2.2rem;
	font-weight: 600;
}

.from::after {
	content: '-';
	margin-left: 10px;
	font-weight: 400;
}

.to {
	font-size: 1.9rem;
	/* margin-top: -15px; */
	font-weight: 400;
}

.notebox {
	/* background: pink; */
	width: 100%;
	padding: 10px 30px 10px 20px;
	/* align-self: flex-start; */
	font-size: 1.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.expand .notebox {
	white-space: normal;
	/*overflow: show;
	text-overflow: auto;*/
}

.details {
	display: none;
	padding-bottom: 15px;
}

.expand + .details {
	display: block;
}

.input-password {
	margin: 10px 10px 0px 0px;
	/* height: 36px; */
}

.input {
	border-radius: 3px;
	border: 1px solid var(--color-adk-red);
	font-size: 1.2rem;
	background: var(--color-white);
	padding: 0px 10px 0px 10px;
	font-family: inherit;
}

.input:focus {
	outline: none;
	border-color: var(--color-light-red);
}

.post-delete-button {
	margin-left: 10px;
}

.button {
	font-size: 1.2rem;
	color: var(--color-adk-red);
	font-weight: 600;
	font-family: inherit;
	border-radius: 3px;
	background: var(--color-white);
	border: 1px solid var(--color-adk-red);
}

.button:hover {
	border-color: var(--color-light-red);
	color: var(--color-light-red);
}

.information {
	/* background: var(--color-transparent-yellow); */
	width: 100%;
	/* height: 36px; */
	/* border: 1px solid yellow; */
	padding-left: 10px;
	color:  var(--color-adk-red);
}

form {
	margin: 0px 0px 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.plus-button-container {
	position: fixed;
	right: 30px;
	bottom: 70px;
	/* height: var(--size-plus-button); */
	/* width: var(--size-plus-button); */
}

@keyframes plus-button {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(90deg);
	}
}

.plus-button-circle {
	width: var(--size-plus-button);
	height: var(--size-plus-button);
	border-radius: 50%;
	background: var(--color-light-red);
	box-shadow: var(--box-shadow);
	-webkit-animation: plus-button 0.4s linear  infinite both;
	-o-animation: plus-button 0.4s linear  infinite both;
	animation: plus-button 0.4s linear  infinite both;
	animation-play-state: paused;
	cursor: pointer;
}

.plus-button-circle:hover {
	animation-play-state: running;
}

.plus-button-horizontal-line {
	background: inherit;
	width: 100%;
	height: var(--size-plus-button-lines);
	border-radius: var(--size-plus-button-lines);
	transform: rotate(90deg);
	transform-origin: center;
}

.plus-button-vertical-line {
	height: var(--size-plus-button-lines);
	width: var(--size-plus-button-width);
	background-color: var(--color-white);
	margin: auto;
	border-radius: var(--size-plus-button-lines);
	transform: translateY(calc( ( var(--size-plus-button) - var(--size-plus-button-lines) ) / 2 ));
	/* position: absolute; */
	transform-origin: center;
}

.panel-container {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: var(--color-transparent-white);
}

.open {
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.panel {
	background: var(--color-white);
	width: 100%;
	/* min-height: calc(100% - 400px); */
	/* margin-top: 200px; */
	box-shadow: var(--box-shadow-shifted-down);
	border-radius: 3px;
	box-sizing: border-box;
	border-bottom: 5px solid var(--color-adk-red);
	padding: 20px 25px 15px 25px;
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	font-weight: 600;
}

.panel span {
	margin-left: 10px;
}

.times, .datas, .comment-box {
	display: flex;
	margin-bottom: 15px;
}

.times-from {
	margin-right: 50px;
}

.times-to {
	margin-right: 50px;
}

.datas-nk {
	margin-right: 74px;
}

.comment-box, .datas-pw, .datas-nk, .times-date, .times-to, .times-from {
	display: flex;
	flex-direction: column;
}

.comment-box input {
	height: 100px;
}

.button-box {
	display: flex;
	justify-content: space-between;
}

textarea {
	resize: none;
	font-family: inherit;
}

.response {
	font-weight: 400;
	color: var(--color-adk-red);
	font-style: 1.2rem;
}

.datebox {
	white-space: nowrap;
	color: var(--color-adk-red);
}

@media screen and (max-width: 800px) {
    .head {
    	position: relative;
    	/* padding: 3px 0px 0px 30px; */
    }

    .homepage-h2 {
    	/*display: none;*/
    }

    :root {
    	font-size: 15px;
    }

    .column-home {
    	margin-top: 50px;
    }

    .footer-col-1 {
    	width: 100%;
    }

    .footer-col-2 {
    	width: 100%;
    }

    .column-home {
    	min-height: calc(100% - 97px);
    	margin-top: 0px;
    }

    form {
    	flex-direction: column;
    	align-items: flex-end;
    }

    .information {
    	padding-left: 0px;
    }

    .input-password {
    	width: 100%;
    	margin-right: 0px;
    	margin-bottom: 7px;
    }

    .post-delete-button {
    	margin-left: 0px;
    	margin-top: 7px;
    }

    .times, .datas {
		flex-direction: column;		
	}

	.times-from, .times-to, .datas-nk {
		margin-right: 0px;
	}

	.panel-container {
		overflow: auto;
	}

	.column {
		margin: 10px auto 10px auto;
	}
}